
  @media (max-width: 720px) {
    .main-image, .header-top-navigation, .header-top-buy {
      display: none;
    }
  
    .header-top-brand {
      margin-left: auto;
      margin-right: auto;
    }
  
    .header-content {
      top: 20%;
      background-color: transparent;
      height: 65%;
    }
  
    .header {
      height: 800px;
      text-align: center;
      background-color: #E7ECFF;
    }
  
    br {
      display: none;
    }
  
    .mobile-sides {
      width: 100%;
      height: 800px;
      background-color: #E7ECFF;
      display: block;
      position: absolute;
    }
  }


  @media (max-width: 1300px) {
    .main-image {
      background-size: 60% 95%;
    }
  }
  

  @media (max-width: 1000px) {
    .main-image {
      background-size: auto;
    }
  
    .body-container {
      width: 90%;
    }
  
    .header-top-navigation {
      width: 22%;
    }
  
    .header-content {
      width: 100%;
      height: 45%;
      background-color: rgba(255, 255, 255, 0.9);
      border-radius: 40px;
      align-items: center;
    }

    .header-content-two-buttons {
      width: 80%;
      display: flex;
      justify-content: space-around;
      margin-bottom: 3%;
    }
    .header-content-title {
      text-align: center;
    }
  }

  @media (max-width: 900px) {
    .main .main-block-2-content {
      background-color: #e7ecfff0;
      width: 100%;
      border-radius: 40px;
      display: flex;
      align-items: center;
    }
    .main .main-block-2-content-top {
      width: 80%;
    }
    .main .main-block-2-content-top p, .main .main-block-2-content-top h2 {
      text-align: center;
      margin-top: 2%;
    }
    .main .main-block-2-content-top p {
      margin-top: 4%;
    }
    .main .main-block-2-content-bottom {
      display: flex;
      justify-content: center;
    }
    .main .main-block-2-content-bottom-section:first-child {
      display: none;
    }
    .main .main-block-2-content-bottom-section {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
  }

  @media (max-width: 720px) {
    .main .main-block-2-content {
      background-color: transparent;
    }
  }

  @media (max-width: 500px) {
    .main .main-block-2-content-top {
      width: 100%;
    }
  }

  @media (max-width: 400px) {
    .main .main-block-2-content-top h2 {
      font-size: 26px;
      line-height: 36px;
    }
    .main .main-block-2-content-top p {
      font-size: 14px;
    }
    .main .main-block-2-content-bottom-section {
      width: 75%;
    }
  }
 
  @media (max-width: 900px) {
    .main-block-3-content {
      width: 90%;
    }
  }

  @media (max-width: 720px) {
    .main-block-2 {
      background-position: 50% 0%;
      background-size: auto;
      height: 1500px;
      top: -8%;
    }
  
    .main-grid {
      margin-top: 20%;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    }
    .main-grid-cell-content {
      text-align: center;
    }
  
    .responsive-image {
      width: 75%;
    }
  }

  @media (max-width: 540px) {
    .main-block-2 {
      background-size: initial;
      background-position: center top;
    }
  }

  @media (max-width: 640px) {
    .header-content-title {
      font-size: 42px;
      line-height: 48px;
      height: auto;
      margin-bottom: 1%;
    }
  }

  @media (max-width: 380px) {
    .header-content {
      height: 70%;
      top: 15%;
    }
  }

  @media (max-width: 1100px) {
    .footer-bottom-navigation {
      width: 25%;
    }
  }

  @media (max-width: 1000px) {
    .footer-container {
      width: 90%;
    }
  }

  @media (max-width: 720px) {
    .footer-bottom {
      flex-direction: column;
    }
  
    .footer-bottom-navigation {
      width: 60%;
      margin-right: 0;
    }
  
    .footer-bottom-social {
      width: 50%;
    }
  }
  
  @media (max-width: 400px) {
    .footer-top {
      flex-direction: column;
    }
    .footer-top-company {
      order: 3;
    }
  }
  